@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for all browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes blink {
  50% { opacity: 0; }
}

.typing-cursor {
  animation: blink 1s step-end infinite;
}

.prose p {
  display: inline;
  margin:0
}